<p> Your submission was: <%= @post %></p><br>
<p> Your submission was: <%= @post2 %></p><br>
<p> Your submission was: <%= @post3 %></p><br>
<p> Your submission was: <%= @post4 %></p><br>
<p> Your submission was: <%= @post5 %></p><br>